body {
background-color: lightblue;
}

.grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
height: 100vh;
place-items: center;
}

.grid-item {
padding: 20px
}

.flex-item {
display: flex;
justify-content: space-between;
align-items: center;
margin: 55px;
}

.btn {

}

.sliders{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliders-box {
width: 650px;
height: 400px;
background-color: white;
border: 2px solid black;
border-radius: 15px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-slider {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 8px;
  height: 200px;
  background: #818181;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  writing-mode: vertical-lr;
  direction: rtl;
}

.vertical-slider:hover {
  opacity: 1;
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: darkblue;
  cursor: pointer;
  border-radius: 50%;
}

.vertical-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: darkblue;
  cursor: pointer;
  border-radius: 50%;
}

#cenaSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
  }
  
#cenaSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
  }

.img {
  height: 150px;
  width: 150px;
  
}

.img:hover {
    cursor: pointer;
}

#nabidkaSliderValue {
    display:none
}

#poptavkaSliderValue {
    display:none
}

#nabidkaSlider {
    pointer-events: none;
}

#poptavkaSlider {
    pointer-events: none;
}

.checkbox-input {
    transform: scale(3);
    margin-right: 2rem;
}

.p-container {
  display: flex;
  gap: 3px;
}